<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>doData</display-name>
    <servlet-name>doData</servlet-name>
    <servlet-class>doData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doData</servlet-name>
    <url-pattern>/doData</url-pattern>
  </servlet-mapping>
  <display-name>WebApp2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Showdata</servlet-name>
    <servlet-class>Showdata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>InsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showdata</servlet-name>
    <url-pattern>/Showdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcConnection</display-name>
    <servlet-name>JdbcConnection</servlet-name>
    <servlet-class>JdbcConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcConnection</servlet-name>
    <url-pattern>/JdbcConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employee</display-name>
    <servlet-name>employee</servlet-name>
    <servlet-class>employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewemployee</display-name>
    <servlet-name>viewemployee</servlet-name>
    <servlet-class>viewemployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewemployee</servlet-name>
    <url-pattern>/viewemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editreturn</display-name>
    <servlet-name>Editreturn</servlet-name>
    <servlet-class>Editreturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editreturn</servlet-name>
    <url-pattern>/Editreturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
</web-app>